/* Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

/* Global Rules */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    margin-inline: auto;
    padding-inline: 1rem;
}

/* Small */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Medium */
@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

/* Large */
@media (min-width: 1280px) {
    .container {
        max-width: 1140px;
    }
}

/* Common components */
.special-heading {
    text-align: center;
}

.special-heading h2 {
    font-size: 100px;
    letter-spacing: -8px;
    color: #ebeced;
    margin: 0;
    font-weight: 800;
}

.special-heading>p {
    color: var(--secondary-color);
    margin-top: -30px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .special-heading h2 {
        font-size: 60px;
    }

    .special-heading>p {
        margin-top: -20px;
        font-size: 16px;
    }
}

/* Header */
.header {
    background-color: #fff;
    padding-block: 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.menu {
    position: relative;
    cursor: pointer;
}

.menu:hover ul {
    display: block;
}

.menu span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--secondary-color);
}

.menu:hover span:nth-child(2) {
    width: 100%;
}

.menu span:nth-child(2) {
    margin-block: 4px;
    margin-left: auto;
    width: 50%;
    transition-duration: var(--main-duration);
}

.menu ul {
    display: none;
    position: absolute;
    width: 180px;
    padding: 0;
    list-style: none;
    background-color: #F6F6F6;
    border-radius: 5px;
    transform: translate(-85%, 5%);
}

.menu ul::before {
    content: "";
    border-color: transparent transparent #F6F6F6 transparent;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    right: 5px;
    transform: translateY(-100%);
}

.menu ul li {
    cursor: pointer;
    padding: 10px;
    transition-duration: var(--main-duration);
}

.menu ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.menu ul li:hover {
    padding-left: 20px;
}

.menu ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

/* Landing */
.landing {
    background-image: url('/images/landing.jpg');
    object-fit: cover;
    background-size: cover;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.landing .landing-content h1 {
    font-size: 55px;
    letter-spacing: -3px;
    margin: 0;
    color: var(--main-color);
}

.landing .landing-content p {
    color: var(--secondary-color);
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 400;
}

/* Features */
.feature {
    padding-block: var(--section-padding);
    background-color: var(--section-background);
}

.feature__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.feature__content .feature__shape {
    padding: 10px;
    text-align: center;
}

.feature__shape h3 {
    text-transform: capitalize;
    font-weight: 800;
}

.feature__shape p {
    color: var(--secondary-color);
    font-weight: 17px;
}

/* .feature__content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.feature__content .feature__shape {
    width: calc(100% / 3 - 10px);
    text-align: center;
    padding: 10px;
    transition-duration: 0.2s;
}

.feature__content .feature__shape:hover {
    box-shadow: 5px 5px 5px lightblue;
    transform: translateY(-5px);
}

@media (max-width: 767px) {
    .feature__content .feature__shape {
        width: calc(100% - 10px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .feature__content .feature__shape {
        width: calc(100% / 2 - 10px);
    }
} */
/* Services */
.services {
    padding-block: var(--section-padding);
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    gap: 30px;
}

.services-content .col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services-content .col .srv {
    display: flex;
}

@media (max-width: 767px) {
    .services-content .col .srv {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services-content .col .srv .text {
    flex: 1;
}

.services-content .col .srv .text h3 {
    margin: 0 0 20px 0;

}

.services-content .col .srv .text p {
    color: var(--secondary-color);
    line-height: 1.6;
    font-weight: 300;
}

.services-content .col img {
    width: 260px;
}

.services-content .col .image {
    position: relative;
    text-align: center;
}

.services-content .col .image::after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    height: calc(100% + 100px);
    width: 100px;
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (max-width:1279px) {
    .services-content .col .image-hidden {
        display: none;
    }
}

/* Protfolio */
.protfolio {
    padding-block: var(--section-padding);
    background-color: var(--section-background);
}

/* .protfolio .protfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    gap: 30px;
} */
.protfolio .protfolio-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 30px;
}

.protfolio-content .card {
    /* flex: 1 1 300px; */
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.protfolio-content .card:hover {
    transform: translateY(-5px);
}

@media (min-width:767px) {
    .protfolio .protfolio-content .card {
        flex: 0 0 calc(100% / 2 - (30px / 2));
    }
}

@media (min-width:1024px) {
    .protfolio .protfolio-content .card {
        flex: 0 0 calc(100% / 3 - (30px * 2 / 3));
    }
}

.protfolio-content img {
    display: block;
    width: 100%;
}

.protfolio-content .text {
    padding: 20px;
}

.protfolio-content .text h3 {
    margin: 0;
}

.protfolio-content .text p {
    font-weight: 400;
    margin-bottom: 0;
    color: var(--secondary-color);
}

/* About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 1024px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    top: -40px;
    right: -120px;
}

@media (max-width: 1024px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* contact */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    color: black;
}

.contact .info .social i {
    margin-left: 10px;
}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}